cohere==5.15.0
docling==2.61.2
docling-core==2.50.1
docling-ibm-models==3.10.2
docling-parse==4.7.1
google-ai-generativelanguage==0.6.18
langchain==0.3.27
langchain-cohere==0.4.4
langchain-docling==1.1.0
langchain-google-genai==2.1.8
langchain-text-splitters==0.3.11
langchain-unstructured==0.1.5
langsmith==0.4.4
markdown-it-py==3.0.0
numpy==2.2.6
pillow==11.2.1
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
python-docx==1.2.0
python-dotenv==1.1.1
streamlit==1.49.1